---

---

<div id="header" class="bg-black h-16 rounded-sm">
  <div class="flex h-full justify-between items-center px-4 font-semibold">
    <nav>
      <a href="/" class="text-3xl items-center"> 4DAWEB </a>
    </nav>
    <div class="text-center">
      <p
        class="p-2 items-center text-white in-hover:text-transparent text-2xl select-none"
      >
        No olvides contactarme !
      </p>
    </div>
    <nav class="text-center">
      <a href="/contact" class="p-2 items-center"> Contactanos </a>
    </nav>
  </div>
</div>
<style>
  #header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
  }
</style>
<script is:inline>
  let lastScroll = window.scrollY;

  window.addEventListener("scroll", () => {
    const currentScroll = window.scrollY;
    console.log(currentScroll);
    const header = document.getElementById("header");

    if (!header) return;

    if (currentScroll > lastScroll) {
      // Ocultar el header al hacer scroll hacia abajo
      header.style.transform = "translateY(-100%)";
    } else {
      // Mostrar el header al hacer scroll hacia arriba
      header.style.transform = "translateY(0)";
    }

    lastScroll = currentScroll;
  });
</script>
