---
import { ChevronRight } from "lucide-astro";

const { title, text} = Astro.props;
---

<div >
  <details class="">
    <summary class="">
      <span class="items-center text-3xl p-2"><p id="arrow"><ChevronRight /></p>{title}</span>
    </summary>
  </details>
  <div id="content" class="">
    <p class="text-2xl">{text}</p>
  </div>
</div>

<style>
  details {
    max-width: 800px;
    overflow: hidden; /* Keep this line to prevent an odd blue outline around the element in Safari. */
  }

  summary {
    display: block;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  span {
    
    display: flex;
    align-items: center;
    height: 4rem;
  }

  span:hover {
    cursor: pointer;
  }

  #arrow {
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    transition: rotate 200ms 400ms ease-out;
  }

  #content {
    box-sizing: border-box;
    max-width: 500px;
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition:
      max-height 400ms ease-out,
      border 0ms 400ms linear;
  }

  details[open] + #content {
    max-height: 800px; /* Set a max-height value enough to show all the content */
    transition:
      max-height 400ms ease-out,
      border 0ms linear;
  }

  details[open] #arrow {
    rotate: 90deg;
    transition: rotate 400ms ease-out;
  }
</style>
