---
import "../styles/tailwind.css";
import { MessageCircleQuestion } from "lucide-astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <article class="text-white">
      <div id="background">
        <slot />
        <nav
          class="fixed bottom-5 right-5 w-16 h-16 rounded-full bg-black/30 hover:scale-150 transition-transform text-center"
        >
          <a
            href="/contact"
            data-astro-prefetch
            class="text-black flex items-center justify-center h-full w-full rounded-full"
          >
            <MessageCircleQuestion size="2rem" class="text-white" />
          </a>
        </nav>
      </div>
    </article>
  </body>
</html>

<style>
  #background {
    display: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    background-color: black;
  }
  #background::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: radial-gradient(
      circle at center,
      #4a4dfa 0%,
      #6a93ec 45%,
      #a07cf2 60%
    );
    background-size: 150%;
    background-position: 6rem;
    z-index: -10;
    mask-image: url("/public/gifTransition.gif");
    mask-size: cover;
    mask-position: center;
  }
</style>
